@import url("@/config/styles/mixins");

.swiper {
    outline: none;
    width: 100%;
    overflow: auto;
}

.swiperContainer {
    @mixin responsive gap, 25;
    @mixin responsive height, 200;
    @mixin responsive padding-right, 25;
    @mixin responsive padding-left, 400;

    align-items: center;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    outline: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
